@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Shiny Button Animation */
@keyframes shine {
  0% {
    transform: translateX(-150%) skewX(-15deg);
  }

  40% {
    transform: translateX(150%) skewX(-15deg);
  }

  100% {
    transform: translateX(150%) skewX(-15deg);
  }
}

.animate-shine {
  animation: shine 3.5s infinite linear;
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

@keyframes progress-shine {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}

.animate-progress-shine {
  animation: progress-shine 1s linear infinite;
}